[[+main-content:notempty=`
	<section class="content [[+background-color:notempty=`gray`]]">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">
                   [[+main-content]]
                </div>
            </div>
        </div>
    </section>
`]]

[[+left-content:notempty=`
    <section class="content [[+background-color:notempty=`gray`]]">
        <div class="container-fluid wrap">
            [[+content-heading:notempty=`<div class="row">
                <div class="col-xs-12">
                    <h2>[[+content-heading]]</h2>
                </div>
            </div>`]]
            <div class="row">
                <div class="col-xs-12 main-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                           [[+left-content]]
                                    
                        </div>
                        <div class="col-xs-12 col-sm-6">
                           [[+right-content]]
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
`]]

[[+three-left-content:notempty=`
    <section class="content [[+background-color:notempty=`gray`]]">
        <div class="container-fluid wrap">
            [[+content-heading:notempty=`<div class="row">
                <div class="col-xs-12">
                    <h2>[[+content-heading]]</h2>
                </div>
            </div>`]]
            <div class="row">
                <div class="col-xs-12 main-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                           [[+three-left-content]]
                                    
                        </div>
                        <div class="col-xs-12 col-sm-4">
                           [[+middle-content]]
                            
                        </div>
                        <div class="col-xs-12 col-sm-4">
                           [[+right-content]]
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
`]]

[[+content-right:notempty=`

<section class="content img-row [[+background-color:notempty=`gray`]]">
    <div class="container-fluid">
        <div class="row flex">
            <div class="col-xs-12 col-md-6 col-md-push-6 main-content">
                [[+content-right]]
            </div>
        	<div class="col-xs-12 col-md-6 col-md-pull-6 img-contain" style="background-image:url(assets/media/[[+image-left]])">
            </div>
            
        </div>
    </div>
</section>

`]]

[[+content-left:notempty=`

<section class="content img-row [[+background-color:notempty=`gray`]]">
    <div class="container-fluid">
        <div class="row flex">
        	<div class="col-xs-12 col-md-6 main-content">
                [[+content-left]]
            </div>
        	<div class="col-xs-12 col-md-6 img-contain" style="background-image:url(assets/media/[[+image-right]])">
            </div>
            
        </div>
    </div>
</section>

`]]

