[[$doc_head]]
<body class="interior">
	[[$navigation]]
	[[$header]]
	

	[[*content:notempty=`<section class="content">
		<div class="container-fluid wrap">
			<div class="row">
				<div class="col-xs-12 main-content">
					[[*content]]
				</div>
			</div>
		</div>
	</section>`]]
	[[$footer]]
	[[$doc_footer]]